This Jupyter notebook is my attempt to build a reporting system for insect bioassays I am currrently woring on.

Data from these bioassays are saved in a MySQL database hosted on DreamHost, http://mysql.guaminsects.net/ornv.

I am using a GitHub repository, https://github.com/aubreymoore/ornv-bioassays-2023, for backing code and data for the bioassays.

Reports can be accessed in the GitHub pages associated with the repository, https://aubreymoore.github.io/ornv-bioassays-2023/

## Workflow

Workflow is not yet automated.

In [10]:
%%capture
!pip install mysql-connector-python

In [11]:
from sqlalchemy import create_engine, text
import mysql.connector as mysql
import pandas as pd
import getpass
from datetime import datetime

In [12]:
username = input('Enter username:')
print('Enter password:')
password = getpass.getpass()

Enter username:aubreymoore
Enter password:
··········

In [13]:
host = 'mysql.guaminsects.net'
port = '3306'
database = 'ornv'
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

In [14]:
q_bioassay_beetle_count = """
SELECT date_dosed, treatment, COUNT(*) AS N FROM beetles
GROUP BY date_dosed, treatment
ORDER BY date_dosed, treatment
"""

q_bioassay_dead_beetle_count = """
SELECT date_dosed, treatment, COUNT(*) AS N FROM beetles
WHERE date_dead > '0000-00-00'
GROUP BY date_dosed, treatment
ORDER BY date_dosed, treatment
"""

In [15]:
df = pd.read_sql_query(sql=text(q_bioassay_beetle_count), con=engine.connect())
df

    date_dosed treatment    N
0         None            345
1   2023-07-31   CONTROL   10
2   2023-07-31     DUG42   11
3   2023-08-04   CONTROL   10
4   2023-08-04     DUG42   10
5   2023-08-15   CONTROL   10
6   2023-08-15     DUG42   10
7   2023-08-15       PNG   10
8   2023-08-15      V23B   10
9   2023-08-15       X2B   10
10  2023-08-24   CONTROL   10
11  2023-08-24     DUG42   10
12  2023-08-24       PNG   10
13  2023-08-24      V23B   11
14  2023-08-24       X2B    9

In [16]:
df = pd.read_sql_query(sql=text(q_bioassay_dead_beetle_count), con=engine.connect())
df

    date_dosed treatment   N
0         None            25
1   2023-07-31   CONTROL   2
2   2023-07-31     DUG42   2
3   2023-08-04   CONTROL   4
4   2023-08-04     DUG42   2
5   2023-08-15   CONTROL   3
6   2023-08-15     DUG42   1
7   2023-08-15       X2B   2
8   2023-08-24   CONTROL   1
9   2023-08-24     DUG42   1
10  2023-08-24       PNG   2
11  2023-08-24      V23B   1
12  2023-08-24       X2B   1

In [17]:
def generate_report():

    # title_html

    s = '<p class="title is-1">Bioassay Report</p>\n'
    # s += f'<p class="subtitle is-3">Status report</p>\n'
    s += f'<p>Generated by <b>bioassay-report-generator</b> at {datetime.utcnow()} UTC</p>'
    # s += '<p>Data are check against controlled vocabularies listed at the bottom of this report. Currently, these lists are maintained within <b>validator2.ipynb</b></p>\n'
    # s += '<p>Click on a <b>uuid</b> to see validation results for the corresponding chapter.</p>'
    title_html = s

    # Write the validation report

    timestamp = datetime.utcnow()
    html = f'''
        <html>
            <header>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>validator2</title>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            </header>
            <body>
                <section class="section">
                    <div class="container">
                        {title_html}
                        Stuff goes here.
                     </div>
                </section>
            </body>
        </html>
        '''
    with open(f'index.html', 'w') as f:
        f.write(html)

In [18]:
# MAIN PROGRAM

generate_report()